@media (width < 750px) 
{

    /*-----{Menu_Tab}-----*/

    li>a>img
    {
        width: 50%;

        margin: 5%;

        aspect-ratio: 3/2;
    }

    .Menu
    {
        width: 80%;
        height: fit-content;

        flex-direction: row;

        position: fixed;
        top: 70%;
        left: 10%;

        z-index: 1;

        border-top-left-radius: 25px;
        border-bottom-left-radius:25px;
    }

    .Menu:hover{animation-name: none;}

    .Menu:not(:hover){animation-name: none;}



    /*-----{Menu_Tab}-----*/

    header
    {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    footer
    {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    };



    /*-----{Menu_Tab}-----*/

    .Glass
    {
        width: 90%;
    }

    /*-----{Media_Content}-----*/

    iframe
    {
        width: 75vw;
        height: 40vh;
    }

    video
    {
        width: 50vw;
        height: 30vh;
    }

    .Gsheet_Frame_Size
    {
        width: 65vw;
        height: 25vh;
    }

    /*-----{Contact}-----*/

    .grid_Container
    {
        display: grid;

        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        justify-items: center;

    }
}